{% extends 'partials/base.html' %}
{% block title %}home{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-4">
            <div class="card my-2 shadow">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ forms | crispy }}
                        <input type="submit" value="Post" class="btn btn-dark col-12">
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            {% for post in posts %}
            <div class="card shadow my-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img class=" img-thumbnail image" src="{{ post.author.profilemodel.image.url }}"
                                alt=" image">
                        </div>
                        <div class="col-md-10">
                            <small>~ {{post.author}}</small>
                            <small>{{post.date_created}}</small>
                            <hr>
                            <a href="{% url 'post-detail' post.id %}" class="h3 text-decoration-none">{{post.title}}</a>
                            <p class="text-justify my-3">{{post.content}}
                            </p>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</div>
{% endblock %}