


{% extends 'partials/base.html' %}
{%  block title %}home{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-5 offset-md-4">
            <div class="card my-4 shadow">
                <div class="card-body">
                   <div class="alert alert-danger">
                    Do you want to delete post?
                   </div>
                   <form method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-sm btn-danger mx-2 float-end " value="Confirm">

                    <a href="{% url 'post-detail' post.id %}" class="btn btn-secondary btn-sm float-end">Cancel</a>
                   </form>
                    
                </div>
                
            </div>
        </div>
        
        
        
    </div>
</div>
{% endblock %}