
{% extends 'partials/base.html' %}
{%  block title %}user-register{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="cover">
<div class="container ">
    <div class="row mt-5 pt-5 ">
        <div class="col-md-4 offset-md-5 ">
            <div class="card my-2 shadow">
                <div class="card-body">
                    <h2>Sign-up Page</h2>
                    <hr>
                    <form  method="POST">
                        {% csrf_token %}
                        {{ forms | crispy }}
                        <input type="submit" value="Register" class="btn btn-dark col-12">
                    </form>
                </div> 
            </div>
        </div>
        
        
        
    </div>
</div>
</div>
{% endblock %}